.slide {
  height: 75vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-top: 70px; /* push slider below navbar */
}
.slide img{

  width: 100%;
  height: auto;

}

img {
  width: 100%;
  height: auto;
}

/* Dark overlay */
.slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.overlay {
  position: relative;
  text-align: center;
  color: white;
  z-index: 2;
}

.overlay h1 {
  font-size: 48px;
  font-weight: bold;
}

.overlay p {
  font-size: 20px;
  margin: 15px 0;
}

.overlay button {
  background: #ff7a00;
  padding: 12px 30px;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
}