.navbar-brand img {
  height: 45px;   /* control logo size */
  width: auto;    /* keep aspect ratio */
  object-fit: contain;
}

.navbar {
  position: absolute;
  top: 0;
  width:100%;
  z-index: 1050;
}