.pricing-section {
  padding: 80px 5%;
   background-color: white !important;
  color: rgb(12, 11, 11);
  text-align: center;
}

.pricing-title {
  font-size: 32px;
  margin-bottom: 40px;
}

.pricing-table {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.table-row {
  display: grid;
  grid-template-columns: 1.5fr repeat(4, 1fr);
   background: linear-gradient(135deg, #00c6ff, #00d4a4);
  padding: 15px;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  align-items: center;
  transition: 0.3s;
}

.table-row:hover {
  background: #5C5CFF;
}

.header {
  font-weight: bold;
  background: linear-gradient(135deg, #00c6ff, #00d4a4);
}

.highlight {
  color: #0e0e0e;
  font-weight: bold;
}

.danger {
  color: #ff7675;
  font-weight: bold;
}