.store-card {
  width: 350px;
  background: white;
  border-radius: 25px;
  padding: 30px;
  border: 2px solid #222;
  transition: 0.3s ease;
  margin: 40px auto; /* centers the card horizontally */
  text-align: center; /* optional: center text inside */
}

.store-card:hover {
  transform: translateY(-6px);
}

.store-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

.store-address {
  font-size: 14px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 25px;
}

.rating-section {
  margin-bottom: 25px;
}

.google-rating {
  display: flex;
  align-items: center;
  justify-content: center; /* center rating */
  gap: 8px;
  font-weight: 500;
  margin-bottom: 8px;
}

.google-icon {
  font-weight: bold;
  color: #4285f4;
  font-size: 18px;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center; /* center stars */
  gap: 6px;
}

.rating-number {
  font-weight: 600;
}

.star-icons {
  color: #000;
}

.review-count {
  color: #666;
}

.button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.button-group button {
  background-color: #4f67c9;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.button-group button:hover {
  background-color: #8b0edd;
}